<!DOCTYPE html>
<html>
<head>
  <title>Create Event</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <h1>Create a New Event</h1>
  </header>

  <section>
    <form>
      <label>Title:</label>
      <input type="text" placeholder="Event title" required><br>

      <label>Date:</label>
      <input type="date"><br>

      <label>Category:</label>
      <input type="text" placeholder="Technology, Social, etc."><br>

      <label>Description:</label>
      <textarea placeholder="Write a short description"></textarea><br>

      <button type="submit">Save Event</button>
    </form>
  </section>
</body>
</html>
