<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event List</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
</head>

<body>
    <header>

    </header>

    <section class="global">
        <section>
            <nav>
                <a class="titre" href="index.html">List of Events</a>
                <div class="menu">
                    <a>Catalogue</a>
                    <a>Contact</a>
                </div>
            </nav>
            <section class="main">
                <div class="vedette">
                    <div class="titleFirst">ACCUEIL</div>
                    <div class="titleSecond">En Vedette</div>
                    <div class="showcase">
                        <div class="game">
                            <img src="img/endme.jpg" alt="">
                            <div class="extra">Détails</div>
                        </div>
                        <div class="game">
                            <img src="img/hammer.jpg" alt="">
                            <div class="extra">Détails</div>
                        </div>
                        <div class="game">
                            <img src="img/nemesis.jpg" alt="">
                            <div class="extra">Détails</div>
                        </div>
                        <div class="game">
                            <img src="img/gears.jpeg" alt="">
                            <div class="extra">Détails</div>
                        </div>
                        <div class="game">
                            <img src="img/marvel.jpg" alt="">
                            <div class="extra">Détails</div>
                        </div>
                        <div class="game">
                            <img src="img/path.jpeg" alt="">
                            <div class="extra">Détails</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="zoom">
                    <div>
                        <img class="zoomed" src="" alt="">
                    </div>

                </div> -->
                <div class="side">
                    <div class="find">
                        <div>dont!</div>
                        <p>Emplacement du magasin:</p>
                        <p>1884 St-Martin Ouest</p>
                        <p>Laval, Québec</p>
                    </div>
                    <div class="keemstar">
                        <div>Nouvelles</div>
                        <p>-Knack III meilleur jeu de tous les temps?</p>
                        <p>-Shadow The Hedgehog le jeu de table est arrivé!</p>
                    </div>
                </div>
            </section>
            <footer>footer.</footer>
        </section>
    </section>
</body>

</html>